In [ ]:
# Create Basic Function

**One Argument**

In [1]:
def add(x):
    return(x+10)

add(20)

30

In [2]:
def add(x):
    summ=x+10
    return(summ)

add(20)

30

In [4]:
def add(x):
    return(x+10)

add(20)

# how many arguemtns are present?: x
# what you are returning?: x+10

# format: lambda <argument_name>:<output>

30

In [3]:
add=lambda x: x+10
add(20)

30

In [5]:
def square(x):
    return(x*x)
square(5)

25

In [6]:
sqr= lambda x:x*x
sqr(5)

25

In [8]:
def cube(x):
    return(x*x*x)
cube(5)

125

In [9]:
cub = lambda a:a*a*a
cub(5)

125

**Two Arguments**

In [ ]:
def add(a,b):
    return(a+b)

add(20,30)

# how many arguemtns are present?: a+b
# what you are returning?: a+b

# format: lambda <arg1>,<arg2>:<output>

In [12]:
add=lambda a,b:a+b
add(20,30)

50

In [13]:
# implement average of 3 numbers using lambda
avg=lambda a,b,c:(a+b+c)/3
avg(5,5,5)

5.0

In [15]:
# implement average make c as default parameter
avg= lambda a,b,c=30:round((a+b+c)/3,2)
avg(1,2)

11.0

In [17]:
round(26.66666666,2)

26.67

**if-else**

In [19]:
# Create a function for finding greater number between two numbers
def greater(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
        
greater(100,200)

200

In [24]:
l1=[]
def greater(n1,n2):

    if n1>n2:   
        l1.append(n1)
    else:
        l1.append(n2)
         
greater(100,200)

In [23]:
l1=[<if_output> <if_condition>]

[200]

In [ ]:
l1=[]
def greater(n1,n2):

    if n1>n2:   
        l1.append(n1)
    else:
        l1.append(n2)
         
greater(100,200)

# format :
# lambda <arg1>,<arg2>: <if_output> <if_con> else <else_op>

In [30]:
greater= lambda a,b: (a if a>b else b)
greater(8,3)

8

- lambda fucntion is nothing but create a funciton

- one argument 

- multiple arguments

- if else conditions

- if else conditions same like list comprehension

In [6]:
list1=['hyd','mumbai','chennai']

#output: ['Hyd','Mumbai','Chennai']

# M-1: use append method

list2=[]
for i in list1:
    list2.append(i.capitalize())
list2

# M-2: use list comprehension
list2=[i.capitalize() for i in list1]
list2

['Hyd', 'Mumbai', 'Chennai']

In [5]:
 list2=[]
for i in list1:
    list2.append(i.capitalize())
list2

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
lambda <arguments>: <output>

In [ ]:
# Whenever you use iterations 

# iterator: something can be iterable/you can print using for loop

# list,string,tuple,dictionary

In [ ]:
lambda <arguments>: <output>,<iterator>

[i.capitalize() for i in list1]

In [7]:
list1=['hyd','chennai','mumbai']
lambda i: i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [ ]:
lambda <arg>:<output>

In [ ]:
- next thing is map input and output

In [ ]:
list1=['hyd','chennai','mumbai']
map( lambda i: i.capitalize,list1)

In [ ]:
- store the output

In [8]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Chennai', 'Mumbai']

In [ ]:
- first make a lambda fucntion

- second add your iterator

- map both function and iterator

- save the result in a list

In [5]:
list1=['hyd','chennai','mumbai']
lambda i:i.capitalize(),list1
map(lambda i:i.capitalize,list1)
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Chennai', 'Mumbai']

In [13]:
list1=[1,2,3,4,5]
#[1,4,9,16,25]

list(map(lambda i: i*i,list1))

for i in map(lambda i:i*i,list1):
    print(i)

1
4
9
16
25

In [16]:
list1=[1,2,3]
list2=[11,22,33]

#[12,24,46]
list(map(lambda x,y: x+y,list1,list2))

[12, 24, 36]

In [17]:
for i,j in zip(list1,list2):
    print(i+j)

12
24
36

In [19]:
tuple(map(lambda i,j:i+j, list1,list2))

(12, 24, 36)

In [22]:
str(map(lambda i,j:i+j, list1,list2))

'<map object at 0x00000221E1478A90>'

In [23]:
map(lambda i,j:i+j, list1,list2)

In [24]:
str(10)

'10'

In [25]:
str([])

'[]'

i.capitalize()
i*i
i+j

In [27]:
list1=['h#d','mum#bai','chennai']
#['h#d','mum#bai']

list1=['h#d','mum#bai','chennai']
list2=[]
for i in list1:
    if '#' in i:
        list2.append(i)
print(list2)

['h#d', 'mum#bai']

In [28]:
[i for i in list1 if'#' in i]

['h#d', 'mum#bai']

In [29]:
lambda i: i if '#' in i,list1

SyntaxError: expected 'else' after 'if' expression (1806431763.py, line 1)

In [30]:
lambda i: if '#' in i,list1

SyntaxError: invalid syntax (869587748.py, line 1)

In [31]:
lambda i: i '#' in i,list1

SyntaxError: invalid syntax (1020092297.py, line 1)

In [32]:
#lambda <argument>:<condition>,<iterator>

SyntaxError: invalid syntax (3032274856.py, line 1)

In [36]:
list(map(lambda i: '#' in i,list1))

# condition mapping to list of items

[True, True, False]

In [39]:
list1=['h#d','mum#bai','chennai']
'#' in 'h#d'
'#' in 'mum#bai'

True

In [40]:
list(filter(lambda i: '#' in i,list1))

['h#d', 'mum#bai']

In [ ]:
# Connect chat gpt through python

# We connected makersuite