### Data Types

- integer
  
    int
- float
  
    float
- strings

    str
- Boolean

    bool
- Complex Conjugate

    complex

$integer$

In [3]:
number=100
number

100

In [4]:
#type of the variable :type
type(number)

int

# In maths we have different number System

- Decimal
- Binary
- Octa
- Hexa

**Binary**
- Bi means 2
- So the base is also 2
- 0 1 2 3 4 5 6 7 8 9 
- Here will use only two digits: 0 and 1
- Representatiotn is 0b<Combinations of 0 and 1>
- 0b110, 0B011101

In [6]:
0b1101
# python output will be as decimal output only

13

In [7]:
0b1111

15

In [ ]:
# 3 digits = 4   2   1
# 4 digits = 8   4   2   1
# 5 digits=  16  8   4   2   1
**********************         
4    2     1    decimal output
**********************
0    0     0      0
0    0     1      1
0    1     0      2
0    1     1      3
1    0     0      4
1    0     1      5
1    1     0      6
1    1     1      7

4= 4 times 0 and 4 times 1 will come    
2= 2 times 0 and 2 time  1
1= 1 time  0 and 1  time  1

ON=1
Off=0

In [8]:
    **********************         
 8  4    2     1    decimal output
    **********************
 0   0    0     0      0
 0   0    0     1      1
 0   0    1     0      2
 0   0    1     1      3
 0   1    0     0      4
 0   1    0     1      5
 0   1    1     0      6
 0   1    1     1      7
 1   0    0     0      8     
 1   0    0     1      9
 1   0    1     0      10
 1   0    1     1      11
 1   1    0     0      12
 1   1    0     1      13
 1   1    1     0      14
 1   1    1     1      15

SyntaxError: invalid syntax (3188369178.py, line 1)

In [9]:
0b1001

9

In [12]:
0b1110

14

**Octa**


- octa mean 8

- so the base is also 8

- 0  1   2   3  4  5  6  7  8  9

- here will use only 8 digits:  0,1,2,3,4,5,6,7 (0 to 7 means 8 digits)
    
- representation is :  0o<combinations of 0 to 7>
    
- 0o123  , 0O7564

In [13]:
0o652

426

In [14]:
0O652

426

In [15]:
0O787

SyntaxError: invalid digit '8' in octal literal (1584815258.py, line 1)

In [16]:
0o111

73

In [17]:
**hexa**


- hexa mean 16

- so the base is also 16

- 0  1   2   3  4  5  6  7  8  9  , A  ,B, C, D, E, F

- here will use only 16 digits:  (0 to 9 and A to F)
    
- representation is :  0x<0 to 9 and A to F>
    
- 0xabc  , 0X9DF

SyntaxError: invalid hexadecimal literal (1178494762.py, line 12)

In [18]:
0x112

274

In [20]:
0XE

14

In [21]:
0Xdddd

56797

In [22]:
0xeee

3822

$float$

In [24]:
number1=123.5
number1

123.5

In [25]:
type(number1)

float

$e$  $representation$

In [27]:
10e3 #  10 * 1000 = 10000

10000.0

In [28]:
10e+3  # 10e3  and 10e+3  both are same

10000.0

In [30]:
10e-3 # 10e-3 means 10/1000=0.01

0.01

In [31]:
1e5   # 1* 100000

100000.0

In [32]:
# ML ===== output as zero
# 0.0000000123
# 123e-10= 123/100000000000= 0.0000000000123

In [33]:
1000e-5 #1000/100000

0.01

In [34]:
123e-10

1.23e-08

In [35]:
10e-6

1e-05

In [ ]:
$Strings$

In [44]:
name="python" #write anything in quotes
name

'python'

In [38]:
type(name)

str

In [39]:
name1="100"
type(name1)

str

In [42]:
name2='how are you'
name2

'how are you'

In [ ]:
hai

how are you

write above sentence in the one string 
when you call your output should line be lie
/n   /t

In [45]:
name3="hai
       how are you"
    
name3

SyntaxError: unterminated string literal (detected at line 1) (373100525.py, line 1)

In [46]:
name4='hai
       how are you'
    
name4

SyntaxError: unterminated string literal (detected at line 1) (2079976953.py, line 1)

In [47]:
# whenever you want write multi lines  use triple quotes

name5="""hai
         how are you"""
name5

# doc string

'hai\n         how are you'

In [48]:
# doc string is very important
# jupyter notebook : markdown option
# vs code pycharm :  doc string

In [49]:
import random
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

my name is python

"""my name is python"""

In [52]:
"""
I have taken 20 in a 
I have taken 30 in b
im cal
"""
a=20
b=30
cal=a+b
cal

50

In [ ]:
import random
random.randint()

In [ ]:
# Integer
    # Binary 
    # Octa
    # Hexa
# Float
# String
    #single quotes
    #double quotes
    #triple quotes

In [53]:
string='python'
string

'python'

In [54]:
string2="good morninbg"
string2

'good morninbg'

In [55]:
# triple quotes ====== doc string
# you are writing some information
string3="""how are you"""

**Boolean**

In [56]:
# whenever if you ask any question to the computer
# what its repaly? True or False
# True=1
# False=0

True  # keyword
False # keyword

False

In [57]:
value= False # we are assigning False in a variable value
value

False

In [58]:
type(value)

bool

In [59]:
valu1=True
type(valu1)

bool

In [60]:
name1=True  # boolean
name2=true  # both are variables
name3="True" # string

NameError: name 'true' is not defined

In [61]:
name2=true

# Have you defined True before?
# i did not defiend True, thats whay Im not able to use that

NameError: name 'true' is not defined

In [62]:
true=100    # 100 is saving in a variabel true
name2=true  # true is saving in a variable name2
name2       # so name2 =100

100

In [64]:
a=100   # 100 saved in a
b=200   # 200 saved in b
a=b     # b is saved in a=200  100=200
b=a     # a is saved in b=200
a=500   # 500 saved in a=500
b=a     # a is saved in b=500
b=900   # 900 is saved in b=900
a       # latest value =500

500

In [67]:
b

900

In [68]:
left=right
100=200

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1264476663.py, line 2)

**Complex-Conjugate**

-  a+jb   or  a+ib

- where a= real number

- b= imaginary number

- i= sqrt(-1)

In [70]:
number = 3+5j
number

(3+5j)

In [71]:
type(number)

complex

In [72]:
number1= 3-5j
number1

(3-5j)

In [73]:
# If i want to retrive only real value seperately
3+5j
# 3 is the real value
# 5 is the imaginry value

(3+5j)

In [74]:
number=3+5j
number

(3+5j)

In [75]:
dir(number)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__complex__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [77]:
number.real # <pname>.<method>

3.0

In [78]:
number.imag

5.0

In [79]:
number.conjugate

In [80]:
number.conjugate()
# +  become  -
# -  become  +

(3-5j)

In [ ]:
number1=3-5j
# number1.real = 3
# number1.imag = -5
# number1.conjgate= 3+5j

In [ ]:
3-5j  ====== > 3   ,

In [81]:
complex(4,10)
# real=4
# image=10 
# 4+10j

(4+10j)

In [82]:
complex(4,-10)
# Inside bracket what you are seeing
# parameters/arguments

(4-10j)

In [ ]:
complex()   # if i did not provide anything inside

- whenever if you see any barckets (), that is called function

- another name of function is called method

- inside brackets what you are seeing is called parameters

- another name for parameters is arguments

In [83]:
import random
random.randint(1,100)

70

In [84]:
import math
math.sin()

TypeError: math.sin() takes exactly one argument (0 given)

In [85]:
complex()

# deafault arguments

# if you not provide anything inside bracket
# I will use real value as 0
# imaginary value also 0
# 0+0j  =====> 0j only

0j

In [ ]:
A) 0+0j
B) 0j
C) 0-0j
D) 0
E) error

In [ ]:
A) random.randint() # error  is it necessary to provide arguments
B) math.sin()       # error  is it necesaary to provide arguments
C) complex()        # no error

In [ ]:
random.randint(a, b)
math.sin(x, /)
complex(real=0, imag=0)

In [86]:
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

In [87]:
math.sin()

TypeError: math.sin() takes exactly one argument (0 given)

In [88]:
complex()

0j

In [ ]:
# packages
# methods
# parameters

- int

- float

- str

- bool

- complex