In [ ]:
Strings write up

Assignment on strings

In [ ]:
- Read the strings

- type

- max

- min

- len

- in (for loop)

- range 

- index

- mutable 

- slice

- methods

- array of elements

In [2]:
string1='python'

In [3]:
list1=[1,2,3,4]
list1 # You can write numbers

[1, 2, 3, 4]

In [4]:
list2=['A','B','C','D']
list2 # you can write strings

['A', 'B', 'C', 'D']

In [5]:
list3=[1,2,3,4,'A','B','C','D']
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [6]:
list4=[1,'Apple',10.5,10+20j,True]
list4

[1, 'Apple', 10.5, (10+20j), True]

In [7]:
list5=[100,100,100]
list5

[100, 100, 100]

In [8]:
list6=[[1,2,3,4]]
list6

[[1, 2, 3, 4]]

- list is an array of elements

- list elements heterogeneous(different) data types are allowed

- duplicates are allowed

- list in list also works

$type$

In [10]:
type(list3)

list

$max$

In [11]:
list1

[1, 2, 3, 4]

In [12]:
list2

['A', 'B', 'C', 'D']

In [13]:
print(max(list1)) # 4
print(max(list2)) # D ====== > ascii ord
print(max(list3)) # error we cant compare different data types

4
D

TypeError: '>' not supported between instances of 'str' and 'int'

In [14]:
print(min(list1)) # 1
print(min(list2)) # A ====== > ascii ord
print(min(list3)) # error we cant compare different data types

1
A

TypeError: '<' not supported between instances of 'str' and 'int'

$len$`

In [15]:
print(len(list1))  # 4 
print(len(list2)) # 4
print(len(list3)) #8

4
4
8

$sum$

In [16]:
print(list1)
print(sum(list1))

[1, 2, 3, 4]
10

In [17]:
print(list2)
print(sum(list2))

['A', 'B', 'C', 'D']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- sum

- eval

- range

$in$

In [18]:
list1

[1, 2, 3, 4]

In [20]:
1 in list1
2 in list1
3 in list1
4 in list1

i in list1


# can i iterate through for loop

True

In [21]:
for i in list1:
    print(i)

1
2
3
4

$Concatenation$

In [22]:
list1

[1, 2, 3, 4]

In [23]:
list2

['A', 'B', 'C', 'D']

In [24]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [25]:
new_list=list1+list2

In [26]:
new_list

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [28]:
list1*3  # list1+list1+list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list1-list2  # Fail
list1*list2  # Fail
list1/list2  # Fail

#'a'/'b'

In [ ]:
96 ====== laptop

techshame

In [29]:
list1-list2  # Fail

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [30]:
list1*list2  # Fail

TypeError: can't multiply sequence by non-int of type 'list'

In [31]:
list1/list2  # Fail

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [ ]:
96 ====== laptop

techshame

$Index$

In [32]:
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [33]:
# python index start with zero
list3[0],list3[1],list3[2],list3[3]

# list3[i]
# i=0 1 2 3

(1, 2, 3, 4)

In [34]:
list3[-1]

# -8  -7  -6  -5  -4  -3  -2  -1  
# 1   2   3   4    A   B   C  D
# 0   1   2   3    4   5   6  7

'D'

In [35]:
for i in range(len(list3)):
    print('postive index is: {} and negative index is {}: for an element {}'.format(i,i-len(list3),list3[i]))

postive index is: 0 and negative index is -8: for an element 1
postive index is: 1 and negative index is -7: for an element 2
postive index is: 2 and negative index is -6: for an element 3
postive index is: 3 and negative index is -5: for an element 4
postive index is: 4 and negative index is -4: for an element A
postive index is: 5 and negative index is -3: for an element B
postive index is: 6 and negative index is -2: for an element C
postive index is: 7 and negative index is -1: for an element D

In [36]:
#WAP find the elements which are having len<3
# list=['Apple','Ball','Cat','Ab','Cd','Ef']

# step-1:  iterate the list using for loop 
# step-2:  apply the if condition len(<element>)<3:
# step-3:            print(element)

list1=['Apple','Ball','Cat','Ab','Cd','Ef']
for i in range(len(list1)):
    if len(list1[i])<3:
        print(list1[i])
        
        
for i in list1:
    if len(i)<3:
        print(i)

Ab
Cd
Ef
Ab
Cd
Ef

In [37]:
#WAP find the elements which are having #
# list=['App#e','B#ll','C#t','Ab','Cd','Ef']

# step-1:  iterate the list using for loop 
# step-2:  apply the if condition:
# step-3:            print(element)

list1=['App#e','B#ll','C#t','Ab','Cd','Ef']
for i in list1:
    if '#' in i:
        print(i)

App#e
B#ll
C#t

In [ ]:
list1=['App#e','B#ll','C#t','Ab','Cd','Ef']
count=0
for i in list1:
    if '#' in i:
        count=count+1
        
print(count)

In [1]:
list1=[1,2,3,['Apple','Ball']]

# retrive the ball using index
# In the given list how many elements are there: 4
list1[3][1]

'Ball'

In [2]:
list2=[[[[[[['Cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'Cherry'

In [3]:
list3=[[[['A','B',[[[1,2,3,['Car']]]]]]]]
# retrive the car

In [10]:
list3[0][0][0][2][0][0][3][0]

'Car'

$Mutable$

In [11]:
string1='welcome'
# 'l'  to 'L'
string1[2]='L'

# strings are immutable

TypeError: 'str' object does not support item assignment

In [12]:
list1=['A','B','C']
list1[0]=100
list1

[100, 'B', 'C']

$slice$

In [13]:
list1=[10,20,30,40,50,'P','Y','T','H','O','N','a','b','c','D']

print(list1[2:14:3])   # p 
print(list1[2:14:-3])  # np
print(list1[2:-14:3])  # np
print(list1[2:-14:-3]) # p
print(list1[-2:14:3])  # p
print(list1[-2:-14:3])  # np
print(list1[-2:-14:-3])  # p
print(list1[-2:14:-3])  # np

[30, 'P', 'H', 'a']
[]
[]
[30]
['c']
[]
['c', 'N', 'T', 50]
[]

In [14]:
- Reading a list

- Different ways to provide elements

- type/min/max/sum/len

- in

- concatenation

- index

- mutable

- slice

SyntaxError: invalid syntax (1607122600.py, line 1)

#### List methods

In [15]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$clear$-$copy$

In [16]:
list1=[1,2,3,4]

# I wanat copy these elements in a list2

list2=list1.copy()

list1.clear()

print('list1:',list1)  # []
print('list2:',list2)  # [1,2,3,4]

list1: []
list2: [1, 2, 3, 4]

In [ ]:
# Side heading

# write the code

# insight/observation from above code

$append$

In [17]:
# add (something) to the end of a written document.

list1=[100,200]

# [100,200,300]

list1.append(300)
list1

[100, 200, 300]

In [18]:
list1=[]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [19]:
list1.append([100,200])

In [20]:
list1

[100, 200, 300, [100, 200]]

In [22]:
list1.append(200,300)

TypeError: list.append() takes exactly one argument (2 given)

In [23]:
list1.append('apple')

In [24]:
list1

[100, 200, 300, [100, 200], 'apple']

In [ ]:
# Input list= [1,2,3,4,5]
# create a new list = [1,4,9,16,25]

# write normal python code
list1=[1,2,3,4,5]
for i in list1:
    print(i*i)
    
# I dont want print the values, i want save the output in a list

In [25]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
        
output

[1, 4, 9, 16, 25]

In [26]:
list2=['hyd','bengaluru','delhi']
# output=['Hyd','Bengaluru','Delhi']
output=[]
for i in list2:
    output.append(i.capitalize())
    
output

['Hyd', 'Bengaluru', 'Delhi']

In [27]:
list3=['h#d','beng#luru','delhi']
# output=['h#d','beng#luru']

output=[]
for i in list3:
    if '#' in i:
        output.append(i)
        
output

['h#d', 'beng#luru']

**list comprehenshion**

In [28]:
# code in a single line ===== > speed the process
list1=[1,2,3,4,5] # input

output=[]
for i in list1:
    output.append(i*i)
        
output

# step-1: intilaized the list  output=[]
# step-2:  iterate the loop
# step-3: you save the output

output1=[i*i for i in list1]
output1

# [<output> <forloop>]

[1, 4, 9, 16, 25]

In [31]:
list2=['hyd','bengaluru','delhi']
# output=['Hyd','Bengaluru','Delhi']
output=[]
for i in list2:
    output.append(i.capitalize())
    
output 
# [<output> <forloop>]
output1 = [i.capitalize() for i in list2]
output1

['Hyd', 'Bengaluru', 'Delhi']

In [39]:
# create the list of 20 numbers form 1 to 20

####################### M-1
# for i in range(1,21):
#     print(i)

######################## M-2
numbers=[]
for i in range(1,21):
    numbers.append(i)
numbers

######################### M-3
numbers1 = [i for i in range(1,21)]
numbers1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [40]:
list3=['h#d','beng#luru','delhi']
# output=['h#d','beng#luru']

output=[]
for i in list3:
    if '#' in i:
        output.append(i)
        
output

#[<o/p> <for loop> <if_condition>]

output1=[i for i in list3 if'#' in i]
output1

['h#d', 'beng#luru']

In [45]:
list4=['abcd','abc','ac','a']
# elements less than 3
# ['ac','a']
output4=[i for i in list4 if len(i)<3]
output4

['ac', 'a']

In [46]:
# if else

list1=[1,2,3,4,5,6]

for i in list1:
    if i%2==0:
        print("even:{}".format(i))
        
    else:
        print("odd:{}".format(i))

odd:1
even:2
odd:3
even:4
odd:5
even:6

In [47]:
list1=[1,2,3,4,5,6]

output=[]

for i in list1:
    if i%2==0:
        output.append("even:{}".format(i))
        
    else:
        output.append("odd:{}".format(i))
        
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [ ]:
#[<if_output> <if_condition> else <else_output> <for loop>]

In [49]:
output = [ even:{i} if i%2==0 else odd:{i} for i in list1]

SyntaxError: invalid syntax (1955674690.py, line 1)

In [52]:
list1 = [1, 2, 3, 4, 5, 6]
output = [f"even:{i}" if i % 2 == 0 else f"odd:{i}" for i in list1]
print(output)

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [53]:
["even:{}".format(i) if i%2==0 else "odd:{}".format(i) for i in list1]

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

$count$

In [56]:
list1=[1,2,3,'A','B','B','B','C']
list1.count('B')

3

In [58]:
count =0
for i in list1:
    if i=='B':
        count=count+1
print(count)

3

$Extend$

In [65]:
list1=['A','B','C']
list2=[1,2,3]

list1.extend(list2)
list1

# here the list will be updated with list 2 values

['A', 'B', 'C', 1, 2, 3]

In [68]:
list1=['A','B','C']
list2=[1,2,3]
list3=list1+list2

print(list1)
print(list3)

['A', 'B', 'C']
['A', 'B', 'C', 1, 2, 3]

In [ ]:
a=100
a=200

In [70]:
list1=['A','B','C']
list2=[1,2,3]
list1.append(list2)
list1

['A', 'B', 'C', [1, 2, 3]]

**append** vs **extend** vs **concat**

In [ ]:
- append will add the element at last, last element can be any type

    - list1=[1,2,3]

    - list2=['A','B']

    - list1.append(list2)=[1,2,3,['A','B']]

- Extend will update the list by adding new elements, the result also save in a same list

    - list1=[1,2,3]

    - list2=['A','B']

    - list1.extend(list2)=[1,2,3,'A','B']

- Concat will add two list, but the result will update in a same? list

    - list1=[1,2,3]

    - list2=['A','B']

    - list1+list2=[1,2,3,'A','B']

$iterator$

- iterator word ======= > loop 

- the elements we can print using for loop
 
- string = "python"  we can print each letter using for loop

- list1 = [1,2,3]  we can print each element using for loop

In [75]:
val=reversed('python')
val

In [76]:
for i in val:
    print(i)

n
o
h
t
y
p

In [78]:
list1=[1,2,3]
list1.extend([1,2,3,4])
list1

[1, 2, 3, 1, 2, 3, 4]

In [79]:
list1=[1,2,3]
list1.extend('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [85]:
list1=[1,2,3]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

$pop$-$remove$-$del$

In [87]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [88]:
list1.pop()

'python'

In [89]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [91]:
list1
list1.pop(5) # list1.pop(list1.index('t'))

# in side bracket defulat arguments is there index=-1
# -1 means last value
# if you not provide any value
# it will remove last value
# if i provide any index, it will remove that element

# it is also returning, whihch element it is removing

't'

In [93]:
list1.pop(100)

IndexError: pop index out of range

In [94]:
list1.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [95]:
list1=[100,200,100,300]    # duplicates are allowed
list1.remove(100)          # first occurence will gone
list1                      # it will not return any value

[200, 100, 300]

In [96]:
del(list1)

In [97]:
list1

NameError: name 'list1' is not defined

In [98]:
list1=[100,200,100,300]
del list1[2]

list1

[100, 200, 300]

In [99]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
- index  vs muliple values
- insert vs appned
- reverse ascending and descending ======= reversed
- sort ========= sorted
- differnece between reverse and sort

# get all the differneces all the information 
# share your screenshot

In [100]:
list1.index(200)

1

In [101]:
list1.index(400)

ValueError: 400 is not in list

In [103]:
list1.insert(1,400)
list1

[100, 400, 400, 200, 300]

In [104]:
list1.reverse()
list1

[300, 200, 400, 400, 100]

In [105]:
list1.sort()
list1

[100, 200, 300, 400, 400]

In [106]:
 list1.sort(reverse=True)

In [107]:
list1

[400, 400, 300, 200, 100]

In [109]:
import math

In [111]:
list1.sort(key=math.sin)

In [112]:
list1

[300, 200, 400, 400, 100]

In [1]:
list1.index(400,3,4)

NameError: name 'list1' is not defined

In [115]:
list1.insert(200,1)

In [117]:
list1

[300, 200, 400, 400, 100, 1]

In [119]:
list1=[1,2,3,4,2,6]
f_i=list1.index(2)
list1.index(2,f_i+1)

4

$zip$

In [2]:
list1=['Ram','Robert','Raheem']
list2=[25,30,35]

# 'Ram age is 25'
# 'Robert age is 30'
# 'Rahim age is 35'

In [3]:
for i,j in list1,list2:
    print(i,j)

ValueError: too many values to unpack (expected 2)

In [5]:
for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [8]:
list1=[100,200,300]
list2=[25,30,35]

# output=[125,230,335]
# for i,j in zip(list1,list2):
#     list3=list3.append(i+j)
output = [i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [ ]:
# take 5 questions in list1
# take corresponding 5 answers in another list
# ietrate throught list
# every questin should print
# answer = input("tell the answer")
# answert will check in list2
# if it is ther: marks=marks+1
# else: No Marks

# How many write answers you made, how many answers you got

##########################################################
# list1=['Who is PM of India','What is the capital of India','Who is the President of India']
# list2=['Modi','Delhi','Draupdai']
# marks=0
# correct_answer=0
# for i in range(len(list1)):
#    print('Q1:'<>)
#    answer=input("enter the answer")
#    if  answer.lower()==list2.index(i):
#           makrks+=1