In [1]:
list1=['Ram','Raheem','Robert']

list2=[25,30,35]

In [ ]:
'Ram has age 25'
'Raheem has age 30'
'Robert has age 35'

In [2]:
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [ ]:
{key:value}

In [5]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

d1

#keys = 'Ram',Raheem',Robert'
#values=25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [6]:
d2={25:'Ram',30:'Raheem',35:'Robert'}
d2

#keys: 25,30,35
#values: 'Ram', 'Raheem', 'Robert'

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [8]:
d3={'even':[2,4,6],
   'odd':[3,5,7]}
d3

{'even': [2, 4, 6], 'odd': [3, 5, 7]}

In [9]:
d3={[2,4,6]:'even',
   [3,5,7]:'odd'}

TypeError: unhashable type: 'list'

In [17]:
d4={[2,4,6:'even']
    [3,5,7:'odd']}   #fail

SyntaxError: invalid syntax (2788364551.py, line 1)

In [10]:
d4={(2,4,6):'even',
   (3,5,7):'odd'}
d4

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [14]:
# {'key':<{}>}
d5={'item_list':{'fruits':'Apple'}}
d5

{'item_list': {'fruits': 'Apple'}}

In [15]:
d6={{'fruits':'Apple'}:'item_list'}
d6

TypeError: unhashable type: 'dict'

In [21]:
a=[1,2]
b=(1,2)

In [22]:
a,b=[1,2]
    a,b

(1, 2)

In [20]:
a

1

In [23]:
c,d=(1,2)

In [24]:
c

1

In [25]:
a = 1,2
a

(1, 2)

In [26]:
d1={'A':1,'B':2,'A':1}
d1

{'A': 1, 'B': 2}

In [27]:
d1={'A':1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

- Dicitonary is a key:value pair

- at values position you can take any data type

- at keys position list and dictionary will fail

- Duplicates are not allowed

- If you will update a key value, latest value it will take

$type$

In [29]:
type(d1)

dict

- str

- list

- dict

- int

- float 

- bool

- complex

- tuple

- set

In [2]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
max(d1)
# this maximum we are getting based on key or value

'Robert'

- Maximum and minimum value based on key only

In [4]:
min(d1)

'Ram', ord('m')
'Raheem', ord('h)
'Robert'

'Raheem'

In [5]:
len(d1)

3

In [6]:
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [7]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
d2={100:'2',300:'4'}
sum(d2)

400

- if keys has numeric then we can do sum

In [9]:
'a'*'b'

TypeError: can't multiply sequence by non-int of type 'str'

- type

- len

- max

- min

- sum

$in$

In [10]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}


#'Ram':25  in d1  fail
    
'Ram'  in d1   # works

#25  in d1    # Fails

True

In [1]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}


'Ram':25  in d1  #fail
    
#'Ram'  in d1   # works

#25  in d1    # Fails

SyntaxError: illegal target for annotation (755821747.py, line 6)

In [12]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}


#'Ram':25  in d1  fail
    
#'Ram'  in d1   # works

25  in d1    # Fails

False

In [13]:
for i in d1:
    print(i)

Ram
Raheem
Robert

In [14]:
str1='apple'
'a' in str1

l1=[1,2,3]
1 in l1

for i in l1:
    print(i)

1
2
3

$index$

In [15]:
l1=[10,20,30,40]
l1[0]

str1='apple'
str1[0]

'a'

In [17]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d1['Ram']

# can we get values for loop

25

In [18]:
for key in d1:
    print("The age of {} is {}".format(key,d1[key]))

The age of Ram is 25
The age of Raheem is 30
The age of Robert is 35

In [19]:
for i in range(len(l1)):
    print(i,l1[i])

0 10
1 20
2 30
3 40

In [20]:
 for key in range(len(d1)):
     print(key)
     #print("The age of {} is {}".format(key,d1[key])) # possible / not possible

0
1
2

**Creating a empty dictionary and update**

In [22]:
s=''

for i in 'apple':
    s=s+i

print(s)

apple

In [23]:
l=[i for i in range(10)]

l=[]
for i in range(10):
    l.append(i)

l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
d={}
d['fruite']='Apple'
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [25]:
d1={}
d1["First name"]="Nikita"
d1["sir name"]="Parolekar"
d1["Nativeplace"]="Dhule"
d1["State"]="Maharastra"
d1

{'First name': 'Nikita',
 'sir name': 'Parolekar',
 'Nativeplace': 'Dhule',
 'State': 'Maharastra'}

In [ ]:
# WAP create a dictionary based on two lists
# names=['Ram','Raheem','Robert']
# age=[25,30,35]
# d1={'Ram':25,'Raheem':30,'Robert':35}

names=['Ram','Raheem','Robert']
age=[25,30,35]

In [28]:
names=['Ram','Raheem','Robert']
age=[35,25,30]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j

dict1

###################################################
#dict1={name:age for name,age in zip(names,age)}

{'Ram': 35, 'Raheem': 25, 'Robert': 30}

In [30]:
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
dict1  
#######################################################################
#dict1={names[i]:age[i] for i in range(len(names))}

{'Ram': 35, 'Raheem': 25, 'Robert': 30}

In [32]:
list1=[]
for i in range(len(names)):
    list1.append(i)

list1=[i for i in range(len(names))]
list1

[0, 1, 2]

In [ ]:
#WAP take 5 random numbers
# and create a dictionary with even and odd

# Output: {'even':[20,22],'odd':[19,21,23]}

# step-1: take empty dictionary
# step-2: take two even and odd list
# step-3: import random
# step-4: for i in range(5):
# step-5:     num=random.randint(a,b)
# step-6:     if <even>:
# step-7:        append the values in even list
# step-8:    else:
# step-9:        append the values in odd list
# step-10: create dictinary

In [41]:
import random

dic = {}
even = []
odd = []

for i in range(5):
    num = random.randint(1,100)
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

dic['even'] = even
dic['odd'] = odd

print(dic)

{'even': [60, 22, 10, 52], 'odd': [67]}

In [42]:
import random

nums = [random.randint(1,100) for _ in range(5)]

dic = {
    'even': [n for n in nums if n % 2 == 0],
    'odd': [n for n in nums if n % 2 != 0]
}

print(nums)
print(dic)

[38, 14, 29, 91, 44]
{'even': [38, 14, 44], 'odd': [29, 91]}

In [33]:
import os

In [34]:
os.getcwd()

'D:\\CS\\Courses\\Data Science\\Naresh IT-Omkar Sir\\Python Class Self'

**dicitonary methods**

In [44]:
dir({})

# str=''
# list=[]
# dict={}

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$items-keys-values$

In [1]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [7]:
#items
items=d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [8]:
type(items)

dict_items

In [9]:
#keys
keys=d1.keys()
keys

dict_keys(['Ram', 'Raheem', 'Robert'])

In [10]:
type(keys)

dict_keys

In [11]:
# values
values=d1.values()
values

dict_values([25, 30, 35])

In [12]:
type(values)

dict_values

In [13]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [15]:
values  # I want to convert into a list
value_list=list(values) # then you can apply list methods

In [16]:
keys_list=list(keys)
keys_list

['Ram', 'Raheem', 'Robert']

In [ ]:
# I will give the dicitonary
# Can you extract keys and values in a list


# I will give two list
# Can you create a dictionary

In [18]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}

keys=list(d1.keys())
values=list(d1.values())

In [19]:
keys,values

(['Ram', 'Raheem', 'Robert'], [25, 30, 35])

In [ ]:
dict1={}
for i in range(len(keys)):
    dict1[keys[i]]=values[i]

dict

In [20]:
{i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [21]:
d1={}
for i in range(len(keys)):
    d1[keys[i]]=values[i]     # d1[keys[0]]=values[0]   d1['Ram']=25

d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [22]:
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [29]:
s1='virat.kholi@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'

# {'first_name':['virat','Rohit','KL'],
#    'second_name':[ 'kholi','sharma','rahul'],
#    'company:['blr','mumbai','lucknow']}

In [25]:
{'first_name':['virat','Rohit','KL'],
   'second_name':[ 'kholi','sharma','rahul'],
   'company':['blr','mumbai','lucknow']}

{'first_name': ['virat', 'Rohit', 'KL'],
 'second_name': ['kholi', 'sharma', 'rahul'],
 'company': ['blr', 'mumbai', 'lucknow']}

In [46]:
s1 = 'virat.kholi@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
emails = s1.split(',')

def inf(strin):
    name, company = strin.split('@')
    first, second = name.split('.')
    return first, second, company

dic = {
    "first_name": [],
    "second_name": [],
    "company": []
}

for e in emails:
    f, s, c = inf(e)
    dic["first_name"].append(f)
    dic["second_name"].append(s)
    dic["company"].append(c)

print(dic)

{'first_name': ['virat', 'Rohit', 'kl'], 'second_name': ['kholi', 'sharma', 'rahul'], 'company': ['blr.com', 'mumbai.com', 'lucknow.com']}

In [34]:
s1='virat.kholi@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
s2=s1.split(',')
s2[0]
s2[0].split('.')[0]

'virat'

In [38]:
s2[0].split('.')[1].split('@')[0]

'kholi'

In [39]:
s2[0].split('.')[1].split('@')[1]

'blr'

In [40]:
s2

['virat.kholi@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [43]:
s2[0]

'virat.kholi@blr.com'

In [47]:
s1.split(',')

['virat.kholi@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [66]:
d1={}
s1 = 'virat.kholi@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'

f_name=[str1[:str1.find('.')]  for str1 in s1.split(',')]

s_name=[str1[str1.find('.')+1:str1.find('@')] for str1 in  s1.split(',')]
c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)] for str1 in  s1.split(',')]

f_name,s_name,c_name

(['virat', 'Rohit', 'kl'],
 ['kholi', 'sharma', 'rahul'],
 ['blr', 'mumbai', 'lucknow'])

In [67]:
d1['first_name']=f_name
d1['second_name']=s_name
d1['company_name']=c_name

In [68]:
d1

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kholi', 'sharma', 'rahul'],
 'company_name': ['blr', 'mumbai', 'lucknow']}

$word$-$frequency$

In [73]:
str1='can can you canner can you able to can canner'

#{'can':4,'you':2,'canner':2,'able':1,'to':1}
# d={}
# step-1: split the str1 ============ > you will get a list
# step-2: iterate through loop === > each word will print
# step-3: list1.count(<word>): number
# step-4: make the dictionary

In [76]:
list1=str1.split(' ')
for i in list1:
    print(list1.count(i))

4
4
2
2
4
2
1
1
4
2

In [77]:
list1=str1.split(' ')
for i in list1:
    print(i)

can
can
you
canner
can
you
able
to
can
canner

In [79]:
str1='can can you canner can you able to can canner'
l1=str1.split(' ') # step-1
d1={}

for i in l1:      #step-2
    d1[i]=l1.count(i)  #step-3
d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [80]:
str1='can can you canner can you able to can canner'
str1.split()

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'can', 'canner']

In [81]:
list(d1.keys())

dict_keys(['can', 'you', 'canner', 'able', 'to'])

In [85]:
list(d1.keys())[list(d1.values()).index(max(list(d1.values())))]

'can'

In [86]:
keys=list(d1.keys())

In [87]:
values=list(d1.values())

In [88]:
keys,values

(['can', 'you', 'canner', 'able', 'to'], [4, 2, 2, 1, 1])

In [89]:
max(values)

4

In [90]:
i=max(values)

In [91]:
values.index(i)

0

In [92]:
keys[0]

'can'

In [94]:
 keys[values.index(max(values))]

'can'

In [96]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

# o/p={'a':70,'b':130, 'c':240}

In [1]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
for i in d1:
    d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240}

In [100]:
d1={'a':20,'b':30,'c':40, 'd':500}
d2={'a':50,'b':100,'c':200}

# o/p={'a':70,'b':130, 'c':240, 'd':500}

In [2]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]
        #d3['a']=d1['a']+d2['a']
d3
# whihc ever is max length iterate through that dicitonary

{'a': 70, 'b': 130, 'c': 240}

In [5]:
d1={'a':20,'b':30,'c':40, 'd':500}
d2={'a':50,'b':100,'c':200}

# o/p={'a':70,'b':130, 'c':240, 'd':500}

for i in range(min(len(d1),len(d2))):
    d1[list(d1.keys())[i]]+=d2[list(d2.keys())[i]]
d1

{'a': 70, 'b': 130, 'c': 240, 'd': 500}

In [ ]:
# strings /list/dictionary 
# Python developer

In [ ]:
# this week finish python
# statistics will start (10days)
# EDA with python

In [2]:
d1 = {'a':20,'b':30,'c':40,'d':500}
d1['a']=200

In [3]:
d1

{'a': 200, 'b': 30, 'c': 40, 'd': 500}

In [4]:
s=''
for i in reversed('123'):
    s+=i
s

'321'

In [5]:
int(s)

321

In [9]:
s1='hai how kumar'
l=s1.split(' ')
l1=[]
for i in l:
    l1.append(i.capitalize())
l1
' '.join(l1)

['Hai', 'How', 'Kumar']

In [11]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$clear$-$copy$

In [13]:
# take one dicitonary
# take second dicitonary
# copy firt dict into second
# clear first dict
# and print both

d1= {'a':20,'b':30,'c':40,'d':500} 
d2=d1.copy()
d1.clear()
print(d1)  # {}
print(d2)  # {'a':20,'b':30,'c':40,'d':500}

{}
{'a': 20, 'b': 30, 'c': 40, 'd': 500}

$pop$-$popitem$-$del$

- what is pop
  
    - pop will remove specific key
    
    - return item
 
- what is popitem

    - remove the last value default

    - return the pair
  
- what is del

    - del is a keyword
      
    -  it can delete and item by providing a specific key

In [15]:
d2

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [16]:
d2.pop('a')

20

In [18]:
d2

{'b': 30, 'c': 40, 'd': 500}

In [20]:
d2.popitem()

('d', 500)

In [24]:
#del is a keyword

d2

{'b': 30, 'c': 40}

In [21]:
l1=[10,20,30,40,50]
del l1[1]

In [23]:
l1

[10, 30, 40, 50]

In [26]:
del d2['c']

In [27]:
d2

{'b': 30}

In [28]:
del (d2)

In [29]:
d2

NameError: name 'd2' is not defined

In [ ]:
d1={'a':1, 'b':2, 'c':3}
##################################
del d1['c']

d1.pop('c')

d1.popitem()      #LIFO
###################################
del(d1)

- itmes/values/keys

- if i provide two lisy you know how to make dict

- if i provide dict, you know how to generate lisy

- create an empty string/lisy/dicitonary

- counter

- summ

- function

- pop/popitem/del

- copy/clear

$fromkeys$-$get$

In [32]:
d1 = {'a':20,'b':30,'c':40,'d':500}

d1['b']

30

In [33]:
d1.get('b')

30

In [34]:
d1.get('z')

In [35]:
d1['z']

KeyError: 'z'

- how many ways we can do
- what output it is returning
- what is the differnce
- we can accesss the values by provioding  key as index and key in get method
- but if the key is not present in dciitonary, key as index will give key error
- get metohd will not return anything and no error

In [ ]:
# itcreates a new diciotnary

# create a new diciotnary from the given sequence of elements

# create new dictionary with iterable key

In [37]:
d2=d1.fromkeys('Raheem')
d2

{'R': None, 'a': None, 'h': None, 'e': None, 'm': None}

In [38]:
d2=d1.fromkeys('Raheem',25)
d2

{'R': 25, 'a': 25, 'h': 25, 'e': 25, 'm': 25}

In [39]:
d1

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [42]:
name='sourav'
new=name.capitalize()

In [44]:
name

'sourav'

In [45]:
new

'Sourav'

In [47]:
d2={}.fromkeys('Raheem',25)
d2

{'R': 25, 'a': 25, 'h': 25, 'e': 25, 'm': 25}

In [48]:
d3={}.fromkeys([1,3,5],'odd')
d3

{1: 'odd', 3: 'odd', 5: 'odd'}

In [49]:
for i in [1,3,5]:
    print(i)

1
3
5

$set$ $as$ $default$

returns value of the key 
if key is not present it returns default

In [60]:
d1={}
d1.setdefault('nareshit','Ds') 
d1.setdefault('city')
d1.setdefault('nareshit',['DS','MLops','DE'])
d1

{'nareshit': 'Ds', 'city': None}

In [56]:
d2={}
d2['nareshit']='DS'
d2['city']          # Error
d2

{'nareshit': 'DS'}

In [57]:
d2['city']

KeyError: 'city'

In [63]:
d1={}
d1.setdefault('nareshit','Ds') 
d1.setdefault('city')
d1.setdefault('nareshit',['DS','MLops','DE'])
d1['nareshit']=['DS','MLops','DE']
d1.setdefault('city','hyd')
d1

{'nareshit': ['DS', 'MLops', 'DE'], 'city': None}

 $update$

In [ ]:
# it inserts the particular items to the dictionary

In [64]:
d1 = {'a': 1, 'b':4, 'c':5}
d2 = {'b':7, 'd':9}
d1.update(d2)
print(d1)

{'a': 1, 'b':7, 'c':5, 'd':9}

{'a': 1, 'b': 7, 'c': 5, 'd': 9}

{'a': 1, 'b': 7, 'c': 5, 'd': 9}

In [69]:
d2.update({'a': 1, 'b':4, 'c':5})
print(d2)

{'b': 4, 'd': 9, 'a': 1, 'c': 5}

In [68]:
l1=[1,4,5]
l2=[4,9]
l1.extend(l2)
l1

[1, 4, 5, 4, 9]

In [ ]:
Update method will update a dictionary with elements from another dicitonary
It modifies the dictionary

In [70]:
t1=[(1,2),(2,3)] #dict/iterable 
d1={}
d1.update(  t1)
d1

{1: 2, 2: 3}

In [ ]:
- strings

- list

- dicitionary

if else

for

print

append = []

In [ ]:
- tuple

write an article on tuple

In [ ]:
- how to rea

- type/max/min/len/sum

- index/mutable

- in/for

- slice

- methods

In [ ]:
elif  =========  in list (elif not in list)

if else